@model BACSchedulingSystem.Models.IngredientTypeViewModel


@{
    ViewData["Ingredient"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Ingredients" asp-action="Index" method="get">

    <div> <!-- delta from p to div -->
        <!--
        <select id="value" name="type">
            <option value="">All</option>
            <option value="Fruit">Fruit</option>
            <option value="Grain">Grain</option>
            <option value="Meat">Meat</option>
            <option value="Spice">Spice</option>
            <option value="Vegetable">Vegetable</option>
        </select>
        -->

        <div class="form-group">
                <select id="value" name="type">
                    <option value="">All</option>
                    @foreach (string type in Enum.GetNames(typeof(IngredientType)))
                    {
	                    // do the thing
	                    <option>@type</option>
                    }
                </select>
         </div

        Ingredient Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />

    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].expDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients[0].cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ingredients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.expDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.name">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.name">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
